/* .first-color { 
	background: #5585b5; 
}
	
.second-color { 
	background: #53a8b6; 
}

.third-color { 
	background: #79c2d0; 
}

.fourth-color { 
	background: #bbe4e9; 
} */

a {
	font-weight: 600;
	text-decoration: none;
}
a:hover {
	text-decoration: underline 2px;
}
a:focus {
	background-color: #fd0;
	border: none;
}

body {
	background-color: #bbe4e9;
	font-family: "Gabarito", sans-serif;
}

footer,
footer a {
	font-size: 1rem;
	margin: 50px auto;
	max-width: 600px;
	text-align: center;
}

h1 {
	font-size: 2.5rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

h2 {
	font-size: 2rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

h3 {
	font-size: 1.75rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

h4 {
	font-size: 1.5rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

h5 {
	font-size: 1.25rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

h6 {
	font-size: 1.125rem;
	font-weight: 700;
	color: #050505;
	text-align: center;
}

p,
ul,
ol,
li,
a,
div,
span {
	font-size: 1.125rem;
	color: #050505;
}

main {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #79c2d0;
	max-width: 600px;
	margin: 50px auto;
	opacity: 85%;
	padding: 20px 20px;
}
p::first-letter {
	text-transform: capitalize;
}
#city-name,
#todays-weather-heading {
	margin: 10px auto;
}

#conditions-today,
#conditions-today span {
	font-size: 1.5rem;
	margin-top: 0;
	margin-right: 20px;
	text-align: right;
}

.day-icon {
	width: 100%;
}
.day-summary {
	border: 1px solid #79c2d0;
	border-radius: 5px;
	margin: 0 5px 0 5px;
	padding: 0 20px;
	text-align: center;
}

.day-summary h4 {
	margin-top: 10px;
	margin-bottom: 0;
}

.day-summary p,
span {
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 10px;
}

#humidity-value,
#windspeed {
	color: #5585b5;
	font-size: inherit;
}
.max-temp {
	color: #5585b5;
	font-weight: 700;
}
#next-six-days {
	display: flex;
	justify-content: center;
}

#search-form {
	background-color: #79c2d0;
	color: inherit;
	margin: auto -20px;
	padding: 20px 20px;
	text-align: center;
}
#search-input {
	width: 60%;
	border-color: #050505;
	border-width: 2px;
}

#search-submit {
	background-color: #5585b5;
	border-color: #5585b5;
	border-width: 2px;
}

#search-submit:hover {
	cursor: pointer;
	text-decoration: underline 2px;
}

#search-input:focus,
#search-submit:focus {
	box-shadow:
		0 0 0 3px #050505,
		0px 0 0 6px #fd0;
	outline: #050505 solid 2px;
	transition: none;
}

#search-input,
#search-submit {
	border-radius: 5px;
	font-family: inherit;
	font-size: 1.25rem;
	padding: 10px 10px;
}

#temperature-today {
	/* align-items: center; */
	/* justify-content: flex-start; */
	display: flex;
	margin-left: 20px;
	margin-top: 0;
	text-align: left;
}

#temperature-today-icon img {
	align-self: center;
	max-width: 100%;
}
#temperature-today-values {
	align-self: center;
}
#temperature-today-max {
	color: #5585b5;
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: 700;
}

#temperature-today-min {
	color: #050505;
	font-size: 2.5rem;
	line-height: 2.5rem;
}

#weather-today {
	display: flex;
	justify-content: space-between;
	margin: 0 80px;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
